<h3>Data contributors</h3>

COV-GLUE would not have been possible without viral genome sequence and 
metadata contributions from the following institutes, via <a href="https://gisaid.org" target="_blank"><img src="images/gisaid.png" alt="GISAID logo" width="70"></a>.

<ul>
<li>Shanghai Public Health Clinical Center & School of Public Health, Fudan University, Shanghai, China</li>
<li>National Institute for Viral Disease Control and Prevention, China CDC, Beijing, China</li>
<li>Institute of Pathogen Biology, Chinese Academy of Medical Sciences & Peking Union Medical College, Beijing, China</li>
<li>Wuhan Institute of Virology, Chinese Academy of Sciences, Wuhan, China</li>
<li>Department of Microbiology, Zhejiang Provincial Center for Disease Control and Prevention, Hangzhou, China</li>
<li>Guangdong Provincial Center for Diseases Control and Prevention</li>
<li>Department of Medical Sciences, National Institute of Health, Nonthaburi, Thailand</li>
<li>Division of Viral Diseases, Centers for Disease Control and Prevention, USA</li>
<li>Centers for Disease Control, R.O.C., Taipei, Taiwan</li>
<li>Institut Pasteur, Paris, France</li>
<li>The Peter Doherty Institute for Infection and Immunity, University of Melbourne and the Victorian Infectious Disease Reference Laboratory, Australia</li>
<li>BGI & Institute of Microbiology, Chinese Academy of Sciences & Shandong First Medical University & Shandong Academy of Medical Sciences & General Hospital of Central Theater Command of People's Liberation Army of China, China</li>
</ul>

<h3>The COV-GLUE team</h3>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/JoshSinger.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/joshsinger/">Dr Josh Singer</a></h3>
		<h4>Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Josh_Singer3">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=joshWentViral">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/DavidRobertson.jpg"/></div>
	<div class="col-md-10">
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/davidrobertson/">Professor David Robertson</a></h3>
		<h4>Head of Viral Genomics and Bioinformatics at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/David_Robertson9">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="David Robertson on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=robertson_lab">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="David Robertson on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
		
	</div>
</div>

<h3>Version information</h3>

<p>
	<table class="table table-striped table-bordered table-nonfluid">
		<thead>
			<colgroup>
		       <col span="1" style="width: 50%;">
		       <col span="1" style="width: 50%;">
		    </colgroup>
		</thead>
		<tbody>
			<tr>
				<td><b>GLUE engine version</b></td>
				<td>{{glueEngineVersion}}</td>
			</tr>
		</tbody>
	</table>
</p>