<div>
	<h2>Coding region deletions</h2>
	<p>
	The following coding region deletions relative to the <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512" target="_blank">SARS-CoV-2 reference sequence</a> have been detected in viral genome sequences from the outbreak.
	</p>
	<paging-buttons paging-context="pagingContext"></paging-buttons>
	<span ng-show="deletions.length == 0">None</span>
	<div ng-show="deletions.length > 0">	
		Deletions {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<th colspan="2">Virus protein</th>		
				<th>Deletion</th>		
				<th>Number of sequences</th>		
				<th>Notes</th>		
			</thead>
			<colgroup>
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 30%;">
			</colgroup>
			<tbody>
				<tr ng-repeat="m in deletions track by $index">
					<td><b>{{m.deletion.featureDisplayName}}</b></td>
					<td>{{m.deletion.featureDescription != null ? " "+m.deletion.featureDescription : ""}}</td>
					<td><a target="_blank" href="#project/deletion/{{m.deletion.id}}">{{m.deletion.displayName}}</a></td>
					<td>{{m.deletion.numSeqs}}</td>
					<td>{{m.deletion.parentFeature != null ? ( "Equivalently " + m.deletion.parentFeatureDisplayName + " " + m.deletion.parentStartCodon + 
						(m.deletion.parentEndCodon == m.deletion.parentStartCodon? "" : ("-" +m.deletion.parentEndCodon))
					+ ":del") : ""}}</td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext"></paging-buttons>
	</div>
</div>