<h3>Excluded sequences</h3>

CoV-GLUE excludes the following GISAID sequences from its analysis:

<ul>
<li>Any sequence of length less than 29000 nucleotides</li>
<li>Any sequence with a non-human host, e.g. bat, pangolin</li>
<li>Sequences from environmental samples</li>
<li>Any sequences marked with a warning flag, as having quality issues on GISAID</li>
<li>Any sequence with more than 10 unique (across the whole dataset) single nucleotide mutations relative to the SARS-COV-2 reference sequence.</li>
<li>Any sequence which we detect has a frameshifting deletion or insertion relative to the SARS-COV-2 reference sequence.</li>
</ul>