<div>


	<div class="row">
		<div class="col-md-9">
			<h1>CoV-GLUE</h1>
			<h3>Amino acid analysis for the SARS-CoV-2 outbreak</h3>

			<p>SARS-CoV-2 is the virus which causes the COVID-19 disease. This
				virus will naturally accumulate nucleotide mutations (changes) in
				its RNA genome as the outbreak progresses. Most of these changes
				will have no effect on amino acid composition, some will result in
				amino acid replacements, while others will result in changes in gene
				lengths as a result of insertions or deletions (indels). On average
				the observed changes would be expected to have no or minimal
				consequence on virus biology. However tracking these changes will
				help us better understand the virus outbreak.</p>

			<p>CoV-GLUE contains a database of <a href="#/replacement" target="_blank">replacements</a> and <a href="#/deletion" target="_blank">deletions</a> which
			have been observed in sequences sampled from the outbreak. No insertions have been observed so far.
			</p>
			<p>
			You can also use CoV-GLUE to analyse SARS-CoV-2 sequence files:
			<ol>
				<li>Click "Add files" to add your sequence file(s) in FASTA nucleotide format, or drag them to this page. </li>
				<li>Click "Submit" to run the analysis. When complete, click "Show response". </li>
				<li>Click on a virus protein name (e.g. nsp1) to visualise that coding region on the genome.</li>
				<li>If your sequences contain replacements or indels these will be displayed next to the virus protein.</li>
				<li>If a replacement/deletion has been observed in GISAID sequences, click "Observed" to view these sequences.</li>
				<li>Click "Tree" to view the replacement or deletion in its phylogenetic context.</li>
			</ol>
			</p>
			<p>CoV-GLUE is based on data from <a href="https://gisaid.org" target="_blank"><img src="images/gisaid.png" alt="GISAID logo" width="55"></a>. 
			Last update from GISAID: 24th Feb 2020.
			We gratefully acknowledge data contributors, see the <a href="/#sequenceAcks" target="_blank">sequence acknowledgements page</a> for details.</p>
			<p>Some sequences have been <a href="/#excludedSeqs" target="_blank">excluded from the analysis</a>.</p>
			
		</div>
		<div class="col-md-3">
			<img width="100%" src="images/GenusCoronovirusSchematic_n.gif" />
		</div>
	</div>
</div>


<div nv-file-drop="" uploader="uploader"
		filters="queueLimit, customFilter">
		<p>
			<small><br/>For testing, download this
				<a ng-click="downloadExampleSequence()">example sequence file</a>
				and submit it for analysis. The file has been modified to contain an insertion, a deletion and two replacements.</small>
		</p>
		
		
		<div>
			<div>

				<table class="table" width="100%">
					<thead>
					<col width="40%"></col>
					<col width="20%"></col>
					<col width="20%"></col>
					<col width="20%"></col>
					<tr>
						<th>File</th>
						<th ng-show="uploader.isHTML5">Size</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response != null">
									<span class="glyphicon glyphicon-ok"></span>
									&nbsp;Complete
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.commandError != null">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									&nbsp;Error
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: retrieving result
								</span>
								<span ng-if="item.requestStatus.code == 'UPLOADING'">
									<span class="glyphicon glyphicon-transfer"></span>
									&nbsp;Uploading sequence data
								</span>
								<span ng-if="item.requestStatus.code == 'QUEUED'">
									<span class="glyphicon glyphicon-hourglass"></span>
									&nbsp;Position {{ item.requestStatus.placeInQueue+1 }} in request queue
								</span>
								<span ng-if="item.requestStatus.code == 'RUNNING'">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: {{ item.requestStatus.runningDescription }}
								</span>
							</td>
							<td nowrap>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || (item.isSuccess && item.commandError == null)">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
								<button ng-if="item.commandError == null" type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)"
									ng-disabled="item.response == null">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<button ng-if="item.commandError != null" type="button" class="btn btn-danger btn-xs"
									ng-click="showError(item)">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="removeItem(item)"
									ng-disabled="item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div>
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;"> <span
						class="glyphicon glyphicon-plus-sign"></span> Add files
					</label>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all files
					</button>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="removeAll()" ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all files
					</button>
				</div>

			</div>

			<div ng-show="fileItemUnderAnalysis">
				<hr />
				<h4>Analysis of sequence file
					'{{fileItemUnderAnalysis.file.name}}'</h4>

					<p>
						<div class="btn-group">
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'summary'">Summary</label>
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'genomeVisualisation'">Genome visualisation</label>
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'phyloPlacement'">Phylogenetic placement</label>
						</div>
					</p>
				<div ng-show="displaySection == 'summary'">
					<p>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th style="width: 20%;">Sequence</th>
								<th style="width: 6%;">SARS-CoV-2?</th>
								<th style="width: 20%;">Virus protein</th>
								<th style="width: 6%;">Coverage</th>
								<th style="width: 16%;">Replacements</th>
								<th style="width: 16%;">Insertions</th>
								<th style="width: 16%;">Deletions</th>
							</tr>
						</thead>
						<tbody ng-repeat="covResult in fileItemUnderAnalysis.response.covWebReport.results track by $index">
							<tr>
								<td rowspan="{{coverageFeatures.length+1}}">{{covResult.covReport.sequenceResult.id}}</td>
								<td rowspan="{{coverageFeatures.length+1}}">{{covResult.covReport.sequenceResult.isForwardCov ?
									"Yes" : "No"}}</td>
							</tr>
							<tr ng-repeat="feature in coverageFeatures track by $index">	
								<td><a ng-click="switchToGenomeVisualisation(covResult, feature)">{{feature.displayName}}</a><span ng-if="feature.description"><br/>{{feature.description}}</span></td>
								<td>{{toFixed(getFeatureCoverage(covResult.covReport.sequenceResult, feature.name), 2)}}%</td>
								<td>
									<span ng-if="getReplacements(covResult.covReport.sequenceResult, feature.name).length == 0">-</span>
									<span ng-repeat="replacement in getReplacements(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{replacement.refAas.split("").join("/")}}{{replacement.codonLabel}}{{replacement.queryAas.split("").join("/")}},
										<span ng-if="replacement.known_replacements.length == 0">
										Novel,
										</span>										
										<span ng-if="replacement.known_replacements.length == 1">
										<a target="_blank" href="#/project/replacement/{{replacement.known_replacements[0].known_replacement.id}}">
											Observed:{{replacement.known_replacements[0].known_replacement.num_seqs}}</a>,
										</span>										
										<span ng-if="replacement.known_replacements.length > 1">
										<span ng-repeat="known_replacement in replacement.known_replacements track by $index">
										<a target="_blank" href="#/project/replacement/{{known_replacement.known_replacement.id}}">
											{{known_replacement.known_replacement.display_name}}
											observed:{{known_replacement.known_replacement.num_seqs}}</a>
										<br/>
										</span>,
										</span>										
										<a ng-click="switchToReplacementPhylo(covResult, feature, replacement.codonLabel)">Tree</a>
									</span>
								</td>
								<td>
									<span ng-if="getInsertions(covResult.covReport.sequenceResult, feature.name).length == 0">-</span>
									<span ng-repeat="insertion in getInsertions(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{insertion.insertionIsCodonAligned ? 
											insertion.refLastCodonBeforeIns+"-"+insertion.insertedQryAas+"-"+insertion.refFirstCodonAfterIns : 
											"Non-codon-aligned:nt"+insertion.refLastNtBeforeIns+"-"+insertion.insertedQryNts+"-nt"+insertion.refFirstNtAfterIns}}
									</span>
								</td>
								<td>
									<span ng-if="getDeletions(covResult.covReport.sequenceResult, feature.name).length == 0">-</span>
									<span ng-repeat="deletion in getDeletions(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{deletion.deletionIsCodonAligned ? 
											( deletion.refFirstCodonDeleted+ ( deletion.refFirstCodonDeleted == deletion.refLastCodonDeleted ? "":"-"+deletion.refLastCodonDeleted ) + ":del" ) : 
											( "Non-codon-aligned:nt"+deletion.refFirstNtDeleted+"-nt"+deletion.refLastNtDeleted )}},
										<span ng-if="deletion.known_deletions.length == 0">
										Novel,
										</span>										
										<span ng-if="deletion.known_deletions.length == 1">
										<a target="_blank" href="#/project/deletion/{{deletion.known_deletions[0].known_deletion.id}}">
											Observed:{{deletion.known_deletions[0].known_deletion.num_seqs}}</a>,
										</span>										
										<span ng-if="deletion.known_deletions.length > 1">
										<span ng-repeat="known_deletion in deletion.known_deletions track by $index">
										<a target="_blank" href="#/project/deletion/{{known_deletion.known_deletion.id}}">
											{{known_deletion.known_deletion.display_name}}
											observed:{{known_deletion.known_deletion.num_seqs}}</a>
										<br/>
										</span>,
										</span>										
										<span ng-if="deletion.deletionIsCodonAligned">
											<a ng-click="switchToDeletionPhylo(covResult, feature, deletion.refFirstCodonDeleted, deletion.refLastCodonDeleted)">Tree</a>
										</span>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					</p>
				</div>
				<div ng-show="displaySection == 'genomeVisualisation'" class="container-fluid">
					<div class="row">
						<div class="genomeVisualisationControls col-md-10">
							<p>
							<div>
								Visualise coding region:
								<div class="btn-group" dropdown is-open="status.fButtonOpen">
									<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null" id="f-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.feature == null ? "-" : fileItemUnderAnalysis.sequenceReport.covReport.feature.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="f-button">
										<li
											ng-repeat="feature in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.visualisationHints.features"
											ng-click="setFeature(fileItemUnderAnalysis.sequenceReport, feature)"
											role="menuitem"><a>{{feature.displayName}}</a></li>
									</ul>
								</div>
								of sequence:
								<div class="btn-group" dropdown is-open="status.qseqButtonOpen">
									<button ng-disabled="featureVisualisationUpdating" id="qseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="qseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								(green), highlighting differences with the <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512" target="_blank">SARS-CoV-2 reference</a> (blue)
							</div>
							</p>
						</div><!-- https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
					    --><div class="col-md-2 updateVisualisationButton text-right">
								<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null || fileItemUnderAnalysis.sequenceReport.covReport.comparisonRef == null" type="button" class="btn btn-primary"
									ng-click="updateFeatureSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
							</div>
					</div>
					<div class="row featureSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="featureVisualisationUpdating" style="min-height: 100px; position: relative">
						<div ng-if="featureVisualisationSvgUrl == null && !featureVisualisationUpdating">
							<p class="text-center">No data</p>
						</div>
						<div id="featureVisualisationSvg" style="overflow: auto;" data-onload="featureSvgUpdated()" ng-include="featureVisualisationSvgUrl">
						</div>
					</div>
				</div>
				<div ng-show="displaySection == 'phyloPlacement'" class="container-fluid">
					<div class="row">
						<div class="phyloVisualisationControls col-md-10">
							<p>
							<div>
								Visualise submitted sequence: <div class="btn-group" dropdown is-open="status.pseqButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="pseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="pseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								<span ng-if="fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements.length > 1">, alternative phylogenetic placement:
									<div class="btn-group" dropdown is-open="status.pButtonOpen">
										<button ng-disabled="phyloVisualisationUpdating" id="p-button" type="button" class="btn btn-sm btn-default"
											dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : getPlacementLabel(fileItemUnderAnalysis.sequenceReport.covReport.placement)}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="p-button">
											<li
												ng-repeat="placement in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements"
												ng-click="setPlacement(fileItemUnderAnalysis.sequenceReport, placement)"
												role="menuitem"><a>{{getPlacementLabel(placement)}}</a></li>
										</ul>
									</div>
								</span>
								<br/>
								&nbsp;
								<br/>
								Annotate <div class="btn-group" dropdown is-open="status.vtButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="vt-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : aaFeature.varType.replace("aminoAcid", "amino acid")}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="vt-button">
										<li ng-click="setVarType('aminoAcid')"
											role="menuitem"><a>amino acid</a></li>
										<li ng-click="setVarType('deletion')"
											role="menuitem"><a>deletion</a></li>
									</ul>
								</div> in coding region: <div class="btn-group" dropdown is-open="status.aafButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="aaf-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : aaFeature.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="aaf-button">
										<li
											ng-repeat="feature in availableFeatures"
											ng-click="setAAFeature(feature)"
											role="menuitem"><a>{{feature.displayName}}</a></li>
									</ul>
								</div>
								<span ng-if="aaFeature.varType == 'aminoAcid'" ng-disabled="phyloVisualisationUpdating">, codon number: 
									<input type="number" class="aaCodonLabelInput" ng-model="aaFeature.aaCodonLabel"/>
								</span> <span ng-if="aaFeature.varType == 'deletion'" ng-disabled="phyloVisualisationUpdating">, start codon: 
									<input type="number" class="aaCodonLabelInput" ng-model="aaFeature.aaDeletionStart"/>, end codon:
									<input type="number" class="aaCodonLabelInput" ng-model="aaFeature.aaDeletionEnd"/>
								</span> (Range: 1-{{aaFeature.max_codon_number}})								
								<br/>
								&nbsp;
								<br/>
								Annotate metadata: <div class="btn-group" dropdown is-open="status.taButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="ta-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : tipAnnotation.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="ta-button">
										<li
											ng-repeat="availableTipAnnotation in availableTipAnnotations"
											ng-click="setTipAnnotation(availableTipAnnotation)"
											role="menuitem"><a>{{availableTipAnnotation.displayName}}</a></li>
									</ul>
								</div>
							</div>
							</p>
						</div><!-- https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
					    --><div class="col-md-2 updateVisualisationButton text-right">
								<button ng-disabled="phyloVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.placement == null" type="button" class="btn btn-primary"
									ng-click="updatePhyloSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
							</div>
					</div>
					<div class="row phyloSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="phyloVisualisationUpdating || phyloLegendUpdating" style="min-height: 100px; position: relative">
						<div ng-if="(phyloVisualisationSvgUrl == null && !phyloVisualisationUpdating) || (phyloLegendSvgUrl == null && !phyloLegendUpdating)">
							<p class="text-center">No data</p>
						</div>
						<div style="height: 80px; width: 1136px;" data-onload="phyloLegendSvgUpdated()" ng-include="phyloLegendSvgUrl"></div>
						<div style="height: 2px; width: 1136px; background-color: #cecece;" ng-if="phyloVisualisationSvgUrl != null && phyloLegendSvgUrl != null">
						</div>
						<div style="height: 800px; overflow: auto;" data-onload="phyloSvgUpdated()" ng-include="phyloVisualisationSvgUrl"></div>
					</div>
				</div>
				<h5>Notes</h5>
				<small>
				<ul>
					<li>The coding regions are those annotated on the <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">SARS-CoV-2 reference sequence</a>.</li> 
					<li>Codon numbering is relative to the <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">SARS-CoV-2 reference sequence</a>.</li> 
					<li>Particular care has been paid to correctly translate the ORF1ab nsp12 region taking account of ribosomal slippage.</li> 
					<li>Where ambiguous nucleotide codes give rise to multiple possible amino acids, these are displayed.</li> 
				</ul>
				</small>
				
			</div>
		</div>
	</div>
</div>