<div>


	<div class="row">
		<div class="col-md-9">
			<h1>CoV-GLUE</h1>
			<h3>Amino acid analysis for the 2020 novel Coronavirus (nCoV) outbreak</h3>


			<p>As the nCoV outbreak develops, the virus will naturally accumulate
			mutations in its genome (nucleotide changes in the viral RNA) some of
			which will result in amino acid replacements, while others will result 
			in changes in gene lengths as a result of
			insertions or deletions (indels). On average the observed changes
			would be expected to have no or minimal consequence on virus biology.</p>
			
			<p>
			This web application allows researchers and public health laboratories to
			quickly locate any amino acid replacements and indels in new nCoV
			genome sequences and visualise these changes on a phylogenetic tree. 
			You can also browse those <a href="#/replacement" target="_blank">replacements</a> and <a href="#/deletion" target="_blank">deletions</a> which
			have already been observed in sequences sampled from the outbreak to date.
			</p>
			
			<p>As of the latest update of CoV-GLUE from GISAID (7th Feb 2020), no insertions have been found in outbreak sequences.</p>
			<p>To analyse new sequences:
			<ol>
				<li>Click "Add files" to add your nCoV sequence file(s) in FASTA nucleotide format, or drag them to this page. </li>
				<li>Click "Submit" to run the analysis. When complete, click "Show response". </li>
				<li>If your sequences contain replacements or indels these will be displayed under the relevant genome region.</li>
				<li>If a replacement/deletion has been observed in GISAID sequences, click "Observed" to view these sequences.</li>
				<li>Click "Tree" to view the replacement or deletion in its phylogenetic context.</li>
			</ol>
			</p>
			<p>CoV-GLUE is based on data from <a href="https://gisaid.org" target="_blank"><img src="images/gisaid.png" alt="GISAID logo" width="55"></a>. 
			We gratefully acknowledge data contributors, see the <a href="/#about" target="_blank">about page</a> for details.</p>
			
		</div>
		<div class="col-md-3">
			<img width="100%" src="images/GenusCoronovirusSchematic_n.gif" />
		</div>
	</div>
</div>


<div nv-file-drop="" uploader="uploader"
		filters="queueLimit, customFilter">
		<p>
			<small><br/>For testing, download this
				<a ng-click="downloadExampleSequence()">example sequence file</a>
				and submit it for analysis. The file has been modified to contain an insertion, a deletion and two replacements.</small>
		</p>
		
		
		<div>
			<div>

				<table class="table" width="100%">
					<thead>
					<col width="40%"></col>
					<col width="20%"></col>
					<col width="20%"></col>
					<col width="20%"></col>
					<tr>
						<th>File</th>
						<th ng-show="uploader.isHTML5">Size</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response != null">
									<span class="glyphicon glyphicon-ok"></span>
									&nbsp;Complete
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.commandError != null">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									&nbsp;Error
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: retrieving result
								</span>
								<span ng-if="item.requestStatus.code == 'UPLOADING'">
									<span class="glyphicon glyphicon-transfer"></span>
									&nbsp;Uploading sequence data
								</span>
								<span ng-if="item.requestStatus.code == 'QUEUED'">
									<span class="glyphicon glyphicon-hourglass"></span>
									&nbsp;Position {{ item.requestStatus.placeInQueue+1 }} in request queue
								</span>
								<span ng-if="item.requestStatus.code == 'RUNNING'">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: {{ item.requestStatus.runningDescription }}
								</span>
							</td>
							<td nowrap>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || (item.isSuccess && item.commandError == null)">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
								<button ng-if="item.commandError == null" type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)"
									ng-disabled="item.response == null">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<button ng-if="item.commandError != null" type="button" class="btn btn-danger btn-xs"
									ng-click="showError(item)">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="removeItem(item)"
									ng-disabled="item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div>
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;"> <span
						class="glyphicon glyphicon-plus-sign"></span> Add files
					</label>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all files
					</button>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="removeAll()" ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all files
					</button>
				</div>

			</div>

			<div ng-show="fileItemUnderAnalysis">
				<hr />
				<h4>Analysis of sequence file
					'{{fileItemUnderAnalysis.file.name}}'</h4>

					<p>
						<div class="btn-group">
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'summary'">Summary</label>
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'genomeVisualisation'">Genome visualisation</label>
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'phyloPlacement'">Phylogenetic placement</label>
						</div>
					</p>
				<div ng-show="displaySection == 'summary'">
					<p>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th rowspan="2" style="width: 7%;">Sequence</th>
								<th rowspan="2" style="width: 6%;">Novel Coronavirus?</th>
								<th rowspan="2" style="width: 7%;"></th>
								<th colspan="10" rowspan="1" style="width: 80%;">Coding regions</th>
							</tr>
							<tr>
								<th rowspan="1" style="width: 8%;" ng-repeat="feature in availableFeatures track by $index">
								{{feature.displayName}}</th>
							</tr>
						</thead>
						<tbody ng-repeat="covResult in fileItemUnderAnalysis.response.covWebReport.results track by $index">
							<tr>
								<td rowspan="4">{{covResult.covReport.sequenceResult.id}}</td>
								<td rowspan="4">{{covResult.covReport.sequenceResult.isForwardCov ?
									"Yes" : "No"}}</td>
								<td>Coverage</td>
								<td ng-repeat="feature in availableFeatures track by $index">
								{{toFixed(getFeatureCoverage(covResult.covReport.sequenceResult, feature.name), 2)}}%</td>
							</tr>
							<tr>
								<td>Replacements</td>
								<td ng-repeat="feature in availableFeatures track by $index">
									<span ng-repeat="replacement in getReplacements(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{replacement.refAas.split("").join("/")}}{{replacement.codonLabel}}{{replacement.queryAas.split("").join("/")}}

										<span ng-if="replacement.known_replacements.length == 0">
										<br/>
										Novel
										</span>										
										<span ng-if="replacement.known_replacements.length == 1">
										<br/>
										<a target="_blank" href="#/project/replacement/{{replacement.known_replacements[0].known_replacement.id}}">
											Observed:{{replacement.known_replacements[0].known_replacement.num_seqs}}</a>
										</span>										
										<span ng-if="replacement.known_replacements.length > 1">
										<span ng-repeat="known_replacement in replacement.known_replacements track by $index">
										<br/>
										<a target="_blank" href="#/project/replacement/{{known_replacement.known_replacement.id}}">
											{{known_replacement.known_replacement.display_name}}
											observed ({{known_replacement.known_replacement.num_seqs}})</a>
										</span>
										</span>										


										<br/>
										<a ng-click="switchToReplacementPhylo(covResult, feature, replacement.codonLabel)">Tree</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>Insertions</td>
								<td ng-repeat="feature in availableFeatures track by $index">
									<span ng-repeat="insertion in getInsertions(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{insertion.insertionIsCodonAligned ? 
											insertion.refLastCodonBeforeIns+"-"+insertion.insertedQryAas+"-"+insertion.refFirstCodonAfterIns : 
											"Non-codon-aligned:nt"+insertion.refLastNtBeforeIns+"-"+insertion.insertedQryNts+"-nt"+insertion.refFirstNtAfterIns}}
									</span>
								</td>
							</tr>
							<tr>
								<td>Deletions</td>
								<td ng-repeat="feature in availableFeatures track by $index">
									<span ng-repeat="deletion in getDeletions(covResult.covReport.sequenceResult, feature.name) track by $index">
										{{deletion.deletionIsCodonAligned ? 
											( deletion.refFirstCodonDeleted+ ( deletion.refFirstCodonDeleted == deletion.refLastCodonDeleted ? "":"-"+deletion.refLastCodonDeleted ) + "del" ) : 
											( "Non-codon-aligned:nt"+deletion.refFirstNtDeleted+"-nt"+deletion.refLastNtDeleted )}}
									</span>
								</td>
							</tr>
						</tbody>
					</table>
					</p>
				</div>
				<div ng-show="displaySection == 'genomeVisualisation'" class="container-fluid">
					<div class="row">
						<div class="genomeVisualisationControls col-md-10">
							<p>
							<div>
								Visualise coding region:
								<div class="btn-group" dropdown is-open="status.fButtonOpen">
									<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null" id="f-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.feature == null ? "-" : fileItemUnderAnalysis.sequenceReport.covReport.feature.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="f-button">
										<li
											ng-repeat="feature in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.visualisationHints.features"
											ng-click="setFeature(fileItemUnderAnalysis.sequenceReport, feature)"
											role="menuitem"><a>{{feature.displayName}}</a></li>
									</ul>
								</div>
								of sequence:
								<div class="btn-group" dropdown is-open="status.qseqButtonOpen">
									<button ng-disabled="featureVisualisationUpdating" id="qseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="qseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								(green), highlighting any differences with the <a href="https://www.ncbi.nlm.nih.gov/nuccore/MN908947.3" target="_blank">Wuhan-Hu-1 sequence</a> (blue)
							</div>
							</p>
						</div><!-- https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
					    --><div class="col-md-2 updateVisualisationButton text-right">
								<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null || fileItemUnderAnalysis.sequenceReport.covReport.comparisonRef == null" type="button" class="btn btn-primary"
									ng-click="updateFeatureSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
							</div>
					</div>
					<div class="row featureSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="featureVisualisationUpdating" style="min-height: 100px; position: relative">
						<div ng-if="featureVisualisationSvgUrl == null && !featureVisualisationUpdating">
							<p class="text-center">No data</p>
						</div>
						<div id="featureVisualisationSvg" style="overflow: auto;" data-onload="featureSvgUpdated()" ng-include="featureVisualisationSvgUrl">
						</div>
					</div>
				</div>
				<div ng-show="displaySection == 'phyloPlacement'" class="container-fluid">
					<div class="row">
						<div class="phyloVisualisationControls col-md-10">
							<p>
							<div>
								Visualise submitted sequence: <div class="btn-group" dropdown is-open="status.pseqButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="pseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="pseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								<span ng-if="fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements.length > 1">, alternative phylogenetic placement:
									<div class="btn-group" dropdown is-open="status.pButtonOpen">
										<button ng-disabled="phyloVisualisationUpdating" id="p-button" type="button" class="btn btn-sm btn-default"
											dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : getPlacementLabel(fileItemUnderAnalysis.sequenceReport.covReport.placement)}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="p-button">
											<li
												ng-repeat="placement in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements"
												ng-click="setPlacement(fileItemUnderAnalysis.sequenceReport, placement)"
												role="menuitem"><a>{{getPlacementLabel(placement)}}</a></li>
										</ul>
									</div>
								</span>
								<br/>
								&nbsp;
								<br/>
								Annotate amino acid in coding region: <div class="btn-group" dropdown is-open="status.aafButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="aaf-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : aaFeature.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="f-button">
										<li
											ng-repeat="feature in availableFeatures"
											ng-click="setAAFeature(feature)"
											role="menuitem"><a>{{feature.displayName}}</a></li>
									</ul>
								</div>
								<span ng-disabled="phyloVisualisationUpdating">, codon number: 
									<input type="number" class="aaCodonLabelInput" ng-model="aaFeature.aaCodonLabel"/>
								</span> (Range: 1-{{aaFeature.maxCodon}})								
								<br/>
								&nbsp;
								<br/>
								Annotate metadata: <div class="btn-group" dropdown is-open="status.taButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="ta-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : tipAnnotation.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="ta-button">
										<li
											ng-repeat="availableTipAnnotation in availableTipAnnotations"
											ng-click="setTipAnnotation(availableTipAnnotation)"
											role="menuitem"><a>{{availableTipAnnotation.displayName}}</a></li>
									</ul>
								</div>
							</div>
							</p>
						</div><!-- https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
					    --><div class="col-md-2 updateVisualisationButton text-right">
								<button ng-disabled="phyloVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.placement == null" type="button" class="btn btn-primary"
									ng-click="updatePhyloSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
							</div>
					</div>
					<div class="row phyloSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="phyloVisualisationUpdating || phyloLegendUpdating" style="min-height: 100px; position: relative">
						<div ng-if="(phyloVisualisationSvgUrl == null && !phyloVisualisationUpdating) || (phyloLegendSvgUrl == null && !phyloLegendUpdating)">
							<p class="text-center">No data</p>
						</div>
						<div style="height: 80px; width: 1136px;" data-onload="phyloLegendSvgUpdated()" ng-include="phyloLegendSvgUrl"></div>
						<div style="height: 2px; width: 1136px; background-color: #cecece;" ng-if="phyloVisualisationSvgUrl != null && phyloLegendSvgUrl != null">
						</div>
						<div style="height: 800px; overflow: auto;" data-onload="phyloSvgUpdated()" ng-include="phyloVisualisationSvgUrl"></div>
					</div>
				</div>
				<h5>Notes</h5>
				<small>
				<ul>
					<li>The coding regions are those annotated on the <a href="https://www.ncbi.nlm.nih.gov/nuccore/MN908947.3" target="_blank">Wuhan-Hu-1 sequence</a>.</li> 
					<li>Codon numbering is relative to the Wuhan-Hu-1 sequence.</li> 
					<li>Particular care has been paid to correctly translate the ORF1ab region taking account of ribosomal slippage.</li> 
					<li>Where ambiguous nucleotide codes give rise to multiple possible amino acids, these are displayed.</li> 
				</ul>
				</small>
				
			</div>
		</div>
	</div>
</div>