<div>


	<div class="row">
		<div class="col-md-9">
			<h1>CoV-GLUE <small>enabled by data from </small><a href="https://gisaid.org" target="_blank"><img src="images/gisaid.png" alt="GISAID logo" width="100"></a></h1>

			<p>hCoV-19 (also known as SARS-CoV-2) is the virus which causes the COVID-19 disease. 
				It is naturally accumulating nucleotide mutations (changes) in
				its RNA genome as the pandemic progresses. Some of these result in
				amino acid replacements in viral proteins, while others will change
				amino acid sequence lengths as a result of insertions or deletions 
				(indels). On average the observed changes would be expected to have no or minimal
				consequence for virus biology. However tracking these changes will
				help us better understand the pandemic and could help improve antiviral drug and 
				vaccine effectiveness.</p>
			<small>
				The GISAID clade nomenclature is given alongside the lineage for GISAID sequences.<br/>
			</small>  
			<h3>Amino acid variation database</h3>
			<p>CoV-GLUE contains a database of amino acid <a href="#/replacement" target="_blank">replacements</a>, 
			<a href="#/insertion" target="_blank">insertions</a> and <a href="#/deletion" target="_blank">deletions</a> which
			have been observed in GISAID hCoV-19 sequences sampled from the pandemic, see the <a href="CoV-GLUE_User_Guide.pdf" target="_blank">User Guide</a> for details.</p>
			<small>
			Last update from GISAID: {{gisaidTimeStamp}}. <br/>
			See the <a href="/#sequenceAcks" target="_blank">data acknowledgements page</a> for details of how to acknowledge GISAID data contributors. <br/>
			Some GISAID sequences have been <a href="/#excludedSeqs" target="_blank">excluded from the analysis</a>.
			</small>
			</p>

			<!--  <h3>Analysis of user-submitted sequences</h3>
			<p>Using the "Add Files" button below, submit your own hCoV-19 FASTA file to 
			receive an interactive report containing visualisations of genomic 
			variation. See the <a href="CoV-GLUE_User_Guide.pdf">User Guide</a> for more details.</p>-->
		</div>
		<div class="col-md-3">
			<img width="270px" style="padding-bottom:20px" src="images/Virion.png" />
			<p class="text-center">
				<small>Image: <a target="_blank" href="http://www.scientart.com/">Annabel Slater</a> / <a target="_blank" href="http://www.gla.ac.uk/researchinstitutes/iii/cvr/">CVR</a></small>
			</p>
		</div>
	</div>
</div>


 <div nv-file-drop="" uploader="uploader"
		filters="queueLimit, customFilter">
		<p>
			<small>For testing, download this
				<a ng-click="downloadExampleSequence()">example sequence file</a>
				and submit it for analysis. The file has been modified to contain various differences.</small>
		</p>
		
		
		<div>
			<div>

				<table class="table" width="100%">
					<thead>
					<col width="30%"></col>
					<col width="5%"></col>
					<col width="35%"></col>
					<col width="30%"></col>
					<tr>
						<th>File</th>
						<th ng-show="uploader.isHTML5">Size</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in uploader.queue">
							<td><strong>{{ item.file.name }}</strong></td>
							<td ng-show="uploader.isHTML5" nowrap>{{
								item.file.size/1024/1024|number:2 }} MB</td>
							<td>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response != null">
									<span class="glyphicon glyphicon-ok"></span>
									&nbsp;Complete
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.commandError != null">
									<span class="glyphicon glyphicon-exclamation-sign"></span>
									&nbsp;Error
								</span>
								<span ng-if="item.requestStatus.code == 'COMPLETE' && item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: retrieving result
								</span>
								<span ng-if="item.requestStatus.code == 'UPLOADING'">
									<span class="glyphicon glyphicon-transfer"></span>
									&nbsp;Uploading sequence data
								</span>
								<span ng-if="item.requestStatus.code == 'QUEUED'">
									<span class="glyphicon glyphicon-hourglass"></span>
									&nbsp;Position {{ item.requestStatus.placeInQueue+1 }} in request queue
								</span>
								<span ng-if="item.requestStatus.code == 'RUNNING'">
									<span class="glyphicon glyphicon-cog"></span>
									&nbsp;Running: {{ item.requestStatus.runningDescription }}
								</span>
							</td>
							<td nowrap>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="item.upload()"
									ng-disabled="item.isReady || item.isUploading || (item.isSuccess && item.commandError == null)">
									<span class="glyphicon glyphicon-upload"></span> Submit
								</button>
								<button ng-if="item.commandError == null" type="button" class="btn btn-primary btn-xs"
									ng-click="showAnalysisResults(item)"
									ng-disabled="item.response == null">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<button ng-if="item.commandError != null" type="button" class="btn btn-danger btn-xs"
									ng-click="showError(item)">
									<span class="glyphicon glyphicon-list"></span> Show response
								</button>
								<a href="{{summaryDownloadUrl(item)}}"><button type="button" class="btn btn-primary btn-xs"
									ng-disabled="item.response == null || item.commandError != null">
									<span class="glyphicon glyphicon-save"></span> Summary CSV
								</button></a>
								<button type="button" class="btn btn-primary btn-xs"
									ng-click="removeItem(item)"
									ng-disabled="item.response == null && item.commandError == null">
									<span class="glyphicon glyphicon-trash"></span> Remove
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<div>
					<label class="btn btn-primary" for="my-file-selector"> <input
						id="my-file-selector" type="file" nv-file-select=""
						uploader="uploader" multiple style="display: none;"> <span
						class="glyphicon glyphicon-plus-sign"></span> Add files
					</label>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="uploader.uploadAll()"
						ng-disabled="!uploader.getNotUploadedItems().length">
						<span class="glyphicon glyphicon-upload"></span> Submit all files
					</button>
					<button type="button" class="btn btn-primary btn-s"
						ng-click="removeAll()" ng-disabled="!uploader.queue.length">
						<span class="glyphicon glyphicon-trash"></span> Remove all files
					</button>
				</div>

			</div>

			<div ng-show="fileItemUnderAnalysis">
				<hr />
				<h4>Analysis of sequence file
					'{{fileItemUnderAnalysis.file.name}}'</h4>

					<p>
						<div class="btn-group">
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'summary'">Summary</label>
					        <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'genomeVisualisation'">Genome visualisation</label>
					       <!--   <label class="btn btn-primary ng-pristine ng-untouched ng-valid active" ng-model="displaySection" btn-radio="'phyloPlacement'">Phylogenetic placement</label> -->
						</div>
						<div class="btn-group" dropdown is-open="status.isopen_downloadtype1">
					      <button id="downloadtype-button1" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
					        Download summary <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button1">
							<li role="menuitem" ng-click="downloadAnalysis('summary', 'CSV')"><a>CSV format</a></li>
							<li role="menuitem" ng-click="downloadAnalysis('summary', 'TAB')"><a>Tab-delimited format</a></li>
					      </ul>
						</div>
						<div class="btn-group" dropdown is-open="status.isopen_downloadtype2">
					      <button id="downloadtype-button2" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
					        Download details <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button2">
							<li role="menuitem" ng-click="downloadAnalysis('details', 'CSV')"><a>CSV format</a></li>
							<li role="menuitem" ng-click="downloadAnalysis('details', 'TAB')"><a>Tab-delimited format</a></li>
					      </ul>
						</div>
					</p>
				<div ng-show="displaySection == 'summary'">
					<p>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th rowspan="2" style="width: 20%;">Sequence</th>
								<th colspan="1" style="width: 15%;">Classification</th>
								<th colspan="3" style="width: 24%;">Primer/probe analysis</th>
								<th rowspan="2" style="width: 41%;">Differences from reference</th>
							</tr>
							<tr>
								<th style="width: 15%;">hCoV-19?</th>
								<!--  <th style="width: 5%;">Lineage</th>
								<th style="width: 5%;">Total LWR</th> -->
								<th style="width: 8%;">Diagnostics issues</th>
								<th style="width: 8%;">Sequencing issues</th>
								<th style="width: 8%;">Full report</th>
							</tr>
						</thead>
						<tbody ng-repeat="covResult in fileItemUnderAnalysis.response.covWebReport.results track by $index">
							<tr>
								<td>{{covResult.covReport.sequenceResult.id}}</td>
								<td>{{covResult.covReport.sequenceResult.isForwardCov ? "Yes" : "No"}}</td>
								<!--  <td>{{getLineageDisplayString(covResult.covReport.sequenceResult)}}</td>
								<td>{{getLikelihoodDisplayString(covResult.covReport.sequenceResult)}}</td> -->
								<td ng-if="covResult.covReport.sequenceResult.isForwardCov">{{covResult.covReport.sequenceResult.primerProbeMismatchReport.covPPReport.diagnosticsIssues}}</td>
								<td ng-if="!covResult.covReport.sequenceResult.isForwardCov">N/A</td>
								<td ng-if="covResult.covReport.sequenceResult.isForwardCov">{{covResult.covReport.sequenceResult.primerProbeMismatchReport.covPPReport.sequencingIssues}}</td>
								<td ng-if="!covResult.covReport.sequenceResult.isForwardCov">N/A</td>
								<td ng-if="covResult.covReport.sequenceResult.isForwardCov"><a
									ng-click="viewPPReport(fileItemUnderAnalysis, covResult.covReport.sequenceResult.id, covResult.covReport.sequenceResult.primerProbeMismatchReport)">View <i class="glyphicon glyphicon-link"></i>
								</a></td>
								<td ng-if="!covResult.covReport.sequenceResult.isForwardCov">N/A</td>
								<td ng-if="covResult.covReport.sequenceResult.isForwardCov">
									SNPs: <span ng-repeat="difference in snpDifferences(covResult.covReport.sequenceResult.differences) track by $index">{{$index > 0 ? ", ":""}}{{difference.snp.name}}</span> 
									<br/>
									<span ng-repeat="difference in nonSnpDifferences(covResult.covReport.sequenceResult.differences)">
										<span ng-if="difference.knownLink != null">
											<a target="_blank" href="#/project/{{difference.knownLink}}">Known</a>
										</span>
										<span>{{(difference.knownLink == null ? "Novel ": " ")+difference.displayText}} 
										</span>
										<br/>
									</span> 
								</td>
								<td ng-if="!covResult.covReport.sequenceResult.isForwardCov">N/A</td>
							</tr>
						</tbody>
					</table>
					</p>
				</div>
				<div ng-show="displaySection == 'genomeVisualisation'" class="container-fluid">
					<div class="row">
						<div class="genomeVisualisationControls col-md-10">
							<p>
							<div>
								Visualise coding region:
								<div class="btn-group" dropdown is-open="status.fButtonOpen">
									<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null" id="f-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.feature == null ? "-" : fileItemUnderAnalysis.sequenceReport.covReport.feature.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="f-button">
										<li
											ng-repeat="feature in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.visualisationHints.features"
											ng-click="setFeature(fileItemUnderAnalysis.sequenceReport, feature)"
											role="menuitem"><a>{{feature.displayName}}</a></li>
									</ul>
								</div>
								of sequence:
								<div class="btn-group" dropdown is-open="status.qseqButtonOpen">
									<button ng-disabled="featureVisualisationUpdating" id="qseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="qseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								(green), highlighting differences with <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512" target="_blank">Wuhan-Hu-1</a> (blue)
							</div>
							</p>
						</div><!-- https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 -->
					    <div class="col-md-2 updateVisualisationButton text-right">
								<button ng-disabled="featureVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.feature == null || fileItemUnderAnalysis.sequenceReport.covReport.comparisonRef == null" type="button" class="btn btn-primary"
									ng-click="updateFeatureSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
							</div>
					</div>
					<div class="row featureSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="featureVisualisationUpdating" style="min-height: 100px; position: relative">
						<div ng-if="featureVisualisationSvgUrl == null && !featureVisualisationUpdating">
							<p class="text-center">No data</p>
						</div>
						<div id="featureVisualisationSvg" style="overflow: auto;" data-onload="featureSvgUpdated()" ng-include="featureVisualisationSvgUrl">
						</div>
					</div>
				</div>
				<!-- <div ng-show="displaySection == 'phyloPlacement'" class="container-fluid">
					<div class="row">
						<div class="phyloVisualisationControls col-md-10">
							<p>
							<div>
								Visualise submitted sequence: <div class="btn-group" dropdown is-open="status.pseqButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="pseq-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.id}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="pseq-button">
										<li
											ng-repeat="report in fileItemUnderAnalysis.response.covWebReport.results"
											ng-click="setSequenceReport(fileItemUnderAnalysis, report)"
											role="menuitem"><a>{{report.covReport.sequenceResult.id}}</a></li>
									</ul>
								</div>
								<span ng-if="fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements.length > 1">, alternative phylogenetic placement:
									<div class="btn-group" dropdown is-open="status.pButtonOpen">
										<button ng-disabled="phyloVisualisationUpdating" id="p-button" type="button" class="btn btn-sm btn-default"
											dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : getPlacementLabel(fileItemUnderAnalysis.sequenceReport.covReport.placement)}}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu"
											aria-labelledby="p-button">
											<li
												ng-repeat="placement in fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.placements"
												ng-click="setPlacement(fileItemUnderAnalysis.sequenceReport, placement)"
												role="menuitem"><a>{{getPlacementLabel(placement)}}</a></li>
										</ul>
									</div>
								</span>
								<br/>
								&nbsp;
								<br/>
								Annotate genomic difference <div class="btn-group" dropdown is-open="status.aafButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="aaf-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
											{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : 
												fullDisplayText(fileItemUnderAnalysis.sequenceReport.covReport.selectedDifference)}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="aaf-button">
										<li ng-click="setSelectedDifference(fileItemUnderAnalysis.sequenceReport, {noDifference:{},displayText:'None'})"
											role="menuitem"><a>None</a></li>
										<li
											ng-repeat="difference in nonSnpDifferences(fileItemUnderAnalysis.sequenceReport.covReport.sequenceResult.differences)"
											ng-click="setSelectedDifference(fileItemUnderAnalysis.sequenceReport, difference)"
											role="menuitem"><a>{{fullDisplayText(difference)}}</a></li>
									</ul>
								</div> , metadata: <div class="btn-group" dropdown is-open="status.taButtonOpen">
									<button ng-disabled="phyloVisualisationUpdating" id="ta-button" type="button" class="btn btn-sm btn-default"
										dropdown-toggle>
										{{fileItemUnderAnalysis.sequenceReport.covReport.placement == null ? "-" : tipAnnotation.displayName}}
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu"
										aria-labelledby="ta-button">
										<li
											ng-repeat="availableTipAnnotation in availableTipAnnotations"
											ng-click="setTipAnnotation(availableTipAnnotation)"
											role="menuitem"><a>{{availableTipAnnotation.displayName}}</a></li>
									</ul>
								</div>
							</div>
							</p>
						</div>
					     <div class="col-md-2 phyloButtons text-right">
								<button ng-disabled="phyloVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.placement == null" type="button" class="btn btn-primary"
									ng-click="updatePhyloSvg()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
					    		<div class="btn-group downloadTreeButton" dropdown is-open="status.isopen_downloadtree1">
							      <button ng-disabled="phyloVisualisationUpdating || fileItemUnderAnalysis.sequenceReport.covReport.placement == null"
							      	id="downloadtree-button1" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
							        Download tree <span class="caret"></span>
							      </button>
							      <ul class="dropdown-menu" role="menu" aria-labelledby="downloadtree-button1">
									<li role="menuitem" ng-click="downloadTree('Newick')"><a>Newick format</a></li>
									<li role="menuitem" ng-click="downloadTree('SVG')"><a>SVG format</a></li>
							      </ul>
								</div>
							</div>
					</div>
					<div class="row phyloSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="phyloVisualisationUpdating || phyloLegendUpdating" style="min-height: 100px; position: relative">
						<div ng-if="(phyloVisualisationSvgUrl == null && !phyloVisualisationUpdating) || (phyloLegendSvgUrl == null && !phyloLegendUpdating)">
							<p class="text-center">No data</p>
						</div>
						<div style="height: 80px; width: 1136px;" data-onload="phyloLegendSvgUpdated()" ng-include="phyloLegendSvgUrl"></div>
						<div style="height: 2px; width: 1136px; background-color: #cecece;" ng-if="phyloVisualisationSvgUrl != null && phyloLegendSvgUrl != null">
						</div>
						<div style="height: 800px; overflow: auto;" data-onload="phyloSvgUpdated()" ng-include="phyloVisualisationSvgUrl"></div>
					</div>
				</div> -->
				<h5>Notes</h5>
				<small>
				<ul>
					<li>The coding regions are those annotated on <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">Wuhan-Hu-1</a>.</li> 
					<li>Codon numbering is relative to <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">Wuhan-Hu-1</a>.</li> 
					<li>Particular care has been paid to correctly translate the ORF1ab nsp12 region taking account of ribosomal slippage.</li> 
					<li>Where ambiguous nucleotide codes give rise to multiple possible amino acids, these are displayed.</li> 
				</ul>
				</small>
				
			</div>
		</div>
	</div> 
</div>