<h3>Global reference tree</h3>

<p>
CoV-GLUE uses a reference tree to represent the main lineages of the pandemic at the global level.
</p>

<p>
The lineage definitions are taken from 
<a target=_blank href="http://virological.org/t/a-dynamic-nomenclature-for-sars-cov-2-to-assist-genomic-epidemiology/458">Rambaut, Holmes & Pybus</a>.
</p>
<p>
These can be accessed via the <a target=_blank href="https://github.com/hCoV-2019/pangolin">PANGOLIN</a> project. 
The CoV-GLUE reference alignment and tree are computed independently from PANGOLIN: </p>
<ul>
<li>The alignment is computed using MAFFT.</li>
<li>The tree is computed using RAxML, 100 bootstraps, GTRGAMMAI substitution model.</li>
<li>The rooting is based on an early split in the virus population, characterised by the L/S polymorphism at ORF 8 position 84.
</ul>