<h3>Global reference tree</h3>

<p>
CoV-GLUE uses a reference tree to represent the main lineages of the pandemic at the global level.
</p>

<p>
The lineage definitions are taken from <a target=_blank href="https://doi.org/10.1101/2020.04.17.046086">Rambaut, et al. 2020</a>.
They can be accessed via a GitHub repository
<a target=_blank href="https://github.com/hCoV-2019/lineages">https://github.com/hCoV-2019/lineages</a>. 
</p>
<p>
The CoV-GLUE reference alignment and tree are computed as follows: </p>
<ul>
<li>A multiple sequence alignment of the lineage representatives is computed using MAFFT.</li>
<li>The tree is computed using RAxML, 1000 bootstraps, GTRGAMMAI substitution model, using the coding region part of the alignment.</li>
<li>The rooting is based on an early split in the virus population, characterised by the L/S polymorphism at ORF 8 position 84, lineage A has S, lineage B has L.
</ul>