<div>
	<h2>Coding region insertions</h2>
	<p>
	This page lists non-frameshifting coding region insertions relative to the <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512" target="_blank">SARS-CoV-2 reference sequence</a> which have been detected in viral genome sequences from the pandemic.
	Click on the link in the inserted nucleotides column to view more information about each insertion.</p>
	<p>Non-frameshifting insertions may be <em>codon-aligned</em> signifying that the insertion is between nucleotides at the end of one codon and the start of the next. If so, the neighbouring codons and the inserted amino acids are given.</p>

	<paging-buttons paging-context="pagingContext"></paging-buttons>
	<span ng-show="insertions.length == 0">None</span>
	<div ng-show="insertions.length > 0">	
		Insertions {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<th colspan="2">Virus protein</th>
				<th>Inserted nucleotides</th>	
				<th>Codon-aligned?</th>		
				<th>Inserted amino acids</th>		
				<th>Number of sequences</th>		
				<th>Notes</th>		
			</thead>
			<colgroup>
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 18%;">
		       <col span="1" style="width: 7%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 25%;">
			</colgroup>
			<tbody>
				<tr ng-repeat="m in insertions track by $index">
					<td><b>{{m.insertion.featureDisplayName}}</b></td>
					<td>{{m.insertion.featureDescription != null ? " "+m.insertion.featureDescription : ""}}</td>
					<td><a target="_blank" href="#project/insertion/{{m.insertion.id}}">{{m.insertion.displayName}}</a></td>
					<td>{{m.insertion.codonAligned ? "Yes" : "No"}}</td>
					<td ng-if="m.insertion.codonAligned">
						{{m.insertion.lastCodonBefore+"-"+m.insertion.insertedAas+"-"+m.insertion.firstCodonAfter}}</td>
					<td ng-if="!m.insertion.codonAligned">N/A</td>
					<td>{{m.insertion.numSeqs}}</td>
					<td ng-if="m.insertion.codonAligned">{{m.insertion.parentFeature != null ? 
					( "Equivalently " + 
						m.insertion.parentFeatureDisplayName + " " + m.insertion.parentLastCodonBefore + "-" + 
						m.insertion.insertedAas + "-" + m.insertion.parentFirstCodonAfter ) : "" }}</td>
					<td ng-if="!m.insertion.codonAligned"></td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext"></paging-buttons>
	</div>
</div>