<div ng-cloak>
	<h4>Insertion of nucleotides {{insertion.displayName}} relative to <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">Wuhan-Hu-1</a></h4>
	<p>
	<small>Coding region {{insertion.featureDisplayName}}<span ng-if="deletion.featureDescription">: {{insertion.featureDescription}}</span><br/></small>	
	<small ng-if="insertion.codonAligned">Codon-aligned; inserted amino acids:
	{{insertion.lastCodonBefore+"-"+insertion.insertedAas+"-"+insertion.firstCodonAfter}}<br/></small>	
	<small ng-if="insertion.parentFeature && insertion.codonAligned">
		{{"Equivalently " + 
						insertion.parentLastCodonBefore + "-" + 
						insertion.insertedAas + "-" + insertion.parentFirstCodonAfter}} in {{insertion.parentFeatureDisplayName}}<br/></small>	
	<p/>
	<div class="btn-group" style="margin-bottom: 15px">
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'containingSequences'">Containing sequences</label>
       <!--  <label class="btn btn-primary" ng-model="displaySection" btn-radio="'phylogeneticTree'">Phylogenetic tree</label> 
        -->
    </div>
	

	<div ng-if="displaySection == 'containingSequences'">
		<div>
		<p>The following pandemic sequences contain {{insertion.featureDisplayName}} insertion {{insertion.displayName}}</p>
		</div>
		<paging-buttons paging-context="seqPagingContext">
			<div class="btn-group" dropdown is-open="status.isopen_downloadtype1">
		    	<button id="downloadtype-button1" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
		        	Download <span class="caret"></span>
		      	</button>
		      	<ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button1">
					<li role="menuitem" ng-click="downloadSequenceMetadata('CSV')"><a>CSV format</a></li>
					<li role="menuitem" ng-click="downloadSequenceMetadata('TAB')"><a>Tab-delimited format</a></li>
		      	</ul>
			</div>
		</paging-buttons>
		<span ng-show="listSequenceResult.length == 0">No data</span>
		<div ng-show="listSequenceResult.length > 0">
			Sequences {{seqPagingContext.firstItemIndex}} to {{seqPagingContext.lastItemIndex}} of {{seqPagingContext.totalItems}}
			<table class="table table-striped table-bordered table-nonfluid">
				<thead>
					<th>Virus name</th>
					<th>GISAID ID</th>
					<th>Lineage</th>
					<th>GISAID Clade</th>
					<th>Location</th>
					<th>Collection date</th>
				</thead>
				<colgroup>
			       <col style="width: 25%;">
			       <col style="width: 10%;">
			       <col style="width: 10%;">
			       <col style="width: 10%;">
			       <col style="width: 35%;">
			       <col style="width: 10%;">
			    </colgroup>
				<tbody>
					<tr ng-repeat="seq in listSequenceResult track by $index">
						<td><a ng-click="showSequenceDialog(seq)">{{seq.gisaid_virus_name}}</a></td>
						<td>{{seq['sequenceID']}}</td>
						<td>{{displayLineage(seq)}}</td>
						<td>{{handleNull(seq['gisaid_clade'])}}</td>
						<td>{{seq.place_sampled}}</td>
						<td>{{seq.collection_month_day != null ? seq.collection_month_day+"-" : ""}}{{seq.collection_month != null ? seq.collection_month+"-" : ""}}{{seq.collection_year}}</td>
					</tr>
				</tbody>
			</table>
			<paging-buttons paging-context="seqPagingContext">
				<div class="btn-group" dropdown is-open="status.isopen_downloadtype2">
			    	<button id="downloadtype-button2" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
			        	Download <span class="caret"></span>
			      	</button>
			      	<ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button2">
						<li role="menuitem" ng-click="downloadSequenceMetadata('CSV')"><a>CSV format</a></li>
						<li role="menuitem" ng-click="downloadSequenceMetadata('TAB')"><a>Tab-delimited format</a></li>
			      	</ul>
				</div>
			</paging-buttons>
		</div>
	</div>
	
	<!--   <div ng-if="displaySection == 'phylogeneticTree'" class="container-fluid">
		<div class="row">
			<p>
			Below is the <a href="/#globalRefTree" target="_blank">reference tree</a>, annotated with a symbol at each tip.
			<br/>
			If the sequence contains the {{insertion.featureDisplayName}} insertion {{insertion.displayName}}, a green plus sign is used. 
			If it contains an insertion of different nucleotides at the same location, an orange question mark is shown, hover over this to see the alternative insertion. 
			Otherwise a red minus sign is used.
			<br/>
			Unfortunately, because the reference tree contains a subset of sequences, only a subset of instances of a given insertion will appear, possibly none.
			</p> 
			Annotate metadata:
			<div class="btn-group" dropdown is-open="status.taButtonOpen">
				<button ng-disabled="phyloVisualisationUpdating" id="ta-button"
					type="button" class="btn btn-sm btn-default" dropdown-toggle>
					{{tipAnnotation.displayName}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="ta-button">
					<li ng-repeat="availableTipAnnotation in availableTipAnnotations"
						ng-click="setTipAnnotation(availableTipAnnotation)"
						role="menuitem"><a>{{availableTipAnnotation.displayName}}</a></li>
				</ul>
			</div>
		</div>
		<div class="row phyloSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="phyloVisualisationUpdating || phyloLegendUpdating" style="min-height: 100px; position: relative">
			<div ng-if="(phyloVisualisationSvgUrl == null && !phyloVisualisationUpdating) || (phyloLegendSvgUrl == null && !phyloLegendUpdating)">
				<p class="text-center">No data</p>
			</div>
			<div style="height: 80px; width: 1136px;" data-onload="phyloLegendSvgUpdated()" ng-include="phyloLegendSvgUrl"></div>
			<div style="height: 2px; width: 1136px; background-color: #cecece;" ng-if="phyloVisualisationSvgUrl != null && phyloLegendSvgUrl != null">
			</div>
			<div style="height: 800px; overflow: auto;" data-onload="phyloSvgUpdated()" ng-include="phyloVisualisationSvgUrl"></div>
		</div>
	</div>
	-->
	
</div>