<h3>Other web resources</h3>
Teams from around the world have created these excellent web resources for hCoV-19 genome sequences
<p>
<table class="table table-striped table-bordered table-nonfluid">
	<tbody>
		<tr>
			<td><b>GISAID EpiCoV™ database</b></td>
			<td><a href="https://www.gisaid.org" target="_blank">https://www.gisaid.org</a></td>
		</tr>
		<tr>
			<td><b>NextStrain Genomic Epidemiology of hCoV-19</b></td>
			<td><a href="https://nextstrain.org/ncov" target="_blank">https://nextstrain.org/ncov</a></td>
		</tr>
		<tr>
			<td><b>PANGOLIN lineage assigner</b></td>
			<td><a href="https://pangolin.cog-uk.io" target="_blank">https://pangolin.cog-uk.io</a></td>
		</tr>
		<tr>
			<td><b>A*STAR BII CoVsurver</b></td>
			<td><a href="https://corona.bii.a-star.edu.sg" target="_blank">https://corona.bii.a-star.edu.sg</a></td>
		</tr>
		<tr>
			<td><b>CGPS COG-UK MicoReact</b></td>
			<td><a href="https://microreact.org/project/cogconsortium" target="_blank">https://microreact.org/project/cogconsortium</a></td>
		</tr>
	</tbody>
</table>
</p>
