<div ng-cloak>
	<h3>{{replacement.featureDisplayName}} replacement {{replacement.displayName}}</h3>
	<p>
	<small ng-if="replacement.featureDescription">{{replacement.featureDisplayName}}: {{replacement.featureDescription}}<br/></small>	
	<small ng-if="replacement.parentFeature">Equivalently {{replacement.referenceAa+replacement.parentCodonLabel+replacement.replacementAa}} in {{replacement.parentFeatureDisplayName}}<br/></small>	
	<small>Nucleotide position {{replacement.referenceNtCoord}} in <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">Wuhan-Hu-1</a></small>	
	<p/>

	<div class="btn-group" style="margin-bottom: 15px">
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'containingSequences'">Containing sequences</label>
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'phylogeneticTree'">Phylogenetic tree</label>
        <label class="btn btn-primary" ng-model="displaySection" btn-radio="'replacementAnalysis'">Replacement analysis</label>
    </div>
	

	<div ng-if="displaySection == 'replacementAnalysis'">
		<div ng-if="!residueAnalysis">
		<p>
		Replacement analysis is not applicable for this replacement.
		</p>
		</div>

		<div ng-if="residueAnalysis">
		<p>
		Analysis of the replacement of amino acid residue {{replacement.referenceAa}} by residue {{replacement.replacementAa}}.
		</p>		
			<div class="row">
				<div class="col-md-3">
					<table class="table table-striped table-bordered table-nonfluid">
						<tbody>
							<tr>
								<td><b>Grantham distance<sup>1</sup></b></td>
								<td>{{replacement.granthamDistanceInt}}</td>
							</tr>
							<tr>
								<td><b>Miyata distance<sup>2</sup></b></td>
								<td>{{toFixed(replacement.miyataDistance,2)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-9">
					<table class="table table-striped table-bordered table-nonfluid">
						<thead>
							<th>Hanada<sup>3</sup> grouping scheme</th>
							<th>Radical replacement?</th>
							<th>{{replacement.referenceAa}} residue group</th>
							<th>{{replacement.replacementAa}} residue group</th>
						</thead>
						<tbody>
							<tr ng-repeat="hanadaResult in hanadaResults">
								<td>{{hanadaResult.propShortName}}</td>
								<td>{{hanadaResult.radical ? "Radical" : "Conservative"}}</td>
								<td>{{hanadaResult.originalGroup}}</td>
								<td>{{hanadaResult.replacementGroup}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<h5>Notes</h5>
				<small>
					<ol>
						<li>A quantitative measure of amino acid residue replacements,
							based on composition, polarity and molecular volume, with 100
							being average, see <a
							href="https://doi.org/10.1126%2Fscience.185.4154.862"
							target="_blank">Grantham, 1974</a>
						</li>
						<li>A quantitative measure of amino acid residue replacements,
							based on volume and polarity, see <a
							href="https://doi.org/10.1007/bf01732340" target="_blank">Miyata
								et al., 1979</a>
						</li>
						<li>Qualitative definitions of radical amino acid
							replacements, based on three alternative residue groupings, see <a
							href="http://doi.org/10.1016/j.gene.2006.06.029" target="_blank">Hanada
								et al., 2006</a>
						</li>
					</ol>
				</small>
				</div>
			</div>

		</div>
	</div>

	<div ng-if="displaySection == 'containingSequences'">
		<div>
		<p>The following pandemic sequences contain {{replacement.featureDisplayName}} replacement {{replacement.displayName}}</p>
		</div>
		<paging-buttons paging-context="seqPagingContext"></paging-buttons>
		<span ng-show="listSequenceResult.length == 0">No data</span>
		<div ng-show="listSequenceResult.length > 0">
			Sequences {{seqPagingContext.firstItemIndex}} to {{seqPagingContext.lastItemIndex}} of {{seqPagingContext.totalItems}}
			<table class="table table-striped table-bordered table-nonfluid">
				<thead>
					<th>Virus name</th>
					<th>GISAID ID</th>
					<th>Lineage</th>
					<th>GISAID Clade</th>
					<th>Location</th>
					<th>Collection date</th>
				</thead>
				<colgroup>
			       <col style="width: 25%;">
			       <col style="width: 10%;">
			       <col style="width: 10%;">
			       <col style="width: 10%;">
			       <col style="width: 35%;">
			       <col style="width: 10%;">
			    </colgroup>
				<tbody>
					<tr ng-repeat="seq in listSequenceResult track by $index">
						<td><a ng-click="showSequenceDialog(seq)">{{seq.gisaid_virus_name}}</a></td>
						<td>{{seq['sequenceID']}}</td>
						<td>{{displayLineage(seq)}}</td>
						<td>{{handleNull(seq['gisaid_clade'])}}</td>
						<td>{{seq.place_sampled}}</td>
						<td>{{seq.collection_month_day != null ? seq.collection_month_day+"-" : ""}}{{seq.collection_month != null ? seq.collection_month+"-" : ""}}{{seq.collection_year}}</td>
					</tr>
				</tbody>
			</table>
			<paging-buttons paging-context="seqPagingContext"></paging-buttons>
		</div>
	</div>
	
	<div ng-if="displaySection == 'phylogeneticTree'" class="container-fluid">
		<div class="row">
			<p>
			Below is the <a href="/#globalRefTree" target="_blank">reference tree</a>, annotated with the amino acid residue at {{replacement.featureDisplayName}} position {{replacement.codonLabel}}.
			<br/>
			If a question mark is shown, nucleotide ambiguity implies multiple amino acids are present, hover over this to see the residues. 
			<br/>
			Unfortunately, because the reference tree contains a subset of sequences, only a subset of instances of a given replacement will appear, possibly none.
			</p> 
			Annotate metadata:
			<div class="btn-group" dropdown is-open="status.taButtonOpen">
				<button ng-disabled="phyloVisualisationUpdating" id="ta-button"
					type="button" class="btn btn-sm btn-default" dropdown-toggle>
					{{tipAnnotation.displayName}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="ta-button">
					<li ng-repeat="availableTipAnnotation in availableTipAnnotations"
						ng-click="setTipAnnotation(availableTipAnnotation)"
						role="menuitem"><a>{{availableTipAnnotation.displayName}}</a></li>
				</ul>
			</div>
		</div>
		<div class="row phyloSvgContainer" us-spinner="{radius:23, width:7, length: 11}" spinner-on="phyloVisualisationUpdating || phyloLegendUpdating" style="min-height: 100px; position: relative">
			<div ng-if="(phyloVisualisationSvgUrl == null && !phyloVisualisationUpdating) || (phyloLegendSvgUrl == null && !phyloLegendUpdating)">
				<p class="text-center">No data</p>
			</div>
			<div style="height: 80px; width: 1136px;" data-onload="phyloLegendSvgUpdated()" ng-include="phyloLegendSvgUrl"></div>
			<div style="height: 2px; width: 1136px; background-color: #cecece;" ng-if="phyloVisualisationSvgUrl != null && phyloLegendSvgUrl != null">
			</div>
			<div style="height: 800px; overflow: auto;" data-onload="phyloSvgUpdated()" ng-include="phyloVisualisationSvgUrl"></div>
		</div>
	</div>
	
</div>