<div>
	<h2>Amino acid replacements</h2>
	<p>
	The following amino acid replacements relative to reference strain Wuhan-Hu-1 have been detected in viral genome sequences from the outbreak.
	</p>
	<paging-buttons paging-context="pagingContext"></paging-buttons>
	<span ng-show="replacements.length == 0">None</span>
	<div ng-show="replacements.length > 0">	
		Replacements {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Virus protein / genome region</th>		
					<th>Replacement</th>		
					<th>Number of sequences</th>		
					<th>Grantham distance<sup>1</sup></th>		
					<th>Miyata distance<sup>2</sup></th>	
					<th>Notes</th>		
				</tr>
			</thead>
			<colgroup>
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 23%;">
			</colgroup>
			<tbody>
				<tr ng-repeat="m in replacements track by $index">
					<td><b>{{m.replacement.featureDisplayName}}</b>{{m.replacement.featureDescription != null ? " "+m.replacement.featureDescription : ""}}</td>
					<td><a target="_blank" href="#project/replacement/{{m.replacement.id}}">{{m.replacement.displayName}}</a></td>
					<td>{{m.replacement.numSeqs}}</td>
					<td>{{handleNull(m.replacement.granthamDistanceInt)}}</td>
					<td>{{m.replacement.miyataDistance == null ? "-" : toFixed(m.replacement.miyataDistance,2)}}</td>
					<td>{{m.replacement.parentFeature != null ? ( "Equivalently "+m.replacement.referenceAa+m.replacement.parentCodonLabel+m.replacement.replacementAa+" in "+m.replacement.parentFeatureDisplayName ) : ""}}</td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext"></paging-buttons>
		<h5>Notes</h5>
		<small>
			<ol>
				<li>A quantitative measure of amino acid residue replacements, based on composition, 
				polarity and molecular volume, with 100 being average, see 
				<a href="https://doi.org/10.1126%2Fscience.185.4154.862" target="_blank">Grantham, 1974</a></li>
				<li>A quantitative measure of amino acid residue replacements, based on 
				volume and polarity, see 
				<a href="https://doi.org/10.1007/bf01732340" target="_blank">Miyata et al., 1979</a></li>
			</ol>
		</small>
	</div>
</div>