<div>
	<h2>Amino acid replacements</h2>
	<p>
	This page lists amino acid replacements relative to <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_045512.2" target="_blank">Wuhan-Hu-1</a><sup>1</sup> that have been detected in GISAID hCoV-19 sequences from the pandemic.<br/>
	Click on the link in the "Replacement"" column to view more information about a specific replacement.
	See the <a href="CoV-GLUE_User_Guide.pdf" target="_blank">User Guide</a> for more details. 
	</p>
	<paging-buttons paging-context="pagingContext">
		<div class="btn-group" dropdown is-open="status.isopen_downloadtype1">
	    	<button id="downloadtype-button1" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
	        	Download <span class="caret"></span>
	      	</button>
	      	<ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button1">
				<li role="menuitem" ng-click="downloadReplacements('CSV')"><a>CSV format</a></li>
				<li role="menuitem" ng-click="downloadReplacements('TAB')"><a>Tab-delimited format</a></li>
	      	</ul>
		</div>
	</paging-buttons>
	<span ng-show="replacements.length == 0">None</span>
	<div ng-show="replacements.length > 0">	
		Replacements {{pagingContext.firstItemIndex}} to {{pagingContext.lastItemIndex}} of {{pagingContext.totalItems}}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th colspan="2">Virus protein</th>		
					<th>Replacement</th>		
					<th>Number of sequences</th>		
					<th>Grantham distance<sup>2</sup></th>		
					<th>Miyata distance<sup>3</sup></th>	
					<th>Notes</th>		
				</tr>
			</thead>
			<colgroup>
		       <col span="1" style="width: 11%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 10%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 13%;">
		       <col span="1" style="width: 20%;">
			</colgroup>
			<tbody>
				<tr ng-repeat="m in replacements track by $index">
					<td><b>{{m.replacement.featureDisplayName}}</b></td>
					<td>{{m.replacement.featureDescription != null ? " "+m.replacement.featureDescription : ""}}</td>
					<td><a target="_blank" href="#project/replacement/{{m.replacement.id}}">{{m.replacement.displayName}}</a></td>
					<td>{{m.replacement.numSeqs}}</td>
					<td>{{handleNull(m.replacement.granthamDistanceInt)}}</td>
					<td>{{m.replacement.miyataDistance == null ? "-" : toFixed(m.replacement.miyataDistance,2)}}</td>
					<td>{{m.replacement.parentFeature != null ? ( "Equivalently "+m.replacement.referenceAa+m.replacement.parentCodonLabel+m.replacement.replacementAa+" in "+m.replacement.parentFeatureDisplayName ) : ""}}</td>
				</tr>
			</tbody>
		</table>
		<paging-buttons paging-context="pagingContext">
			<div class="btn-group" dropdown is-open="status.isopen_downloadtype2">
		    	<button id="downloadtype-button2" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
		        	Download <span class="caret"></span>
		      	</button>
		      	<ul class="dropdown-menu" role="menu" aria-labelledby="downloadtype-button2">
					<li role="menuitem" ng-click="downloadReplacements('CSV')"><a>CSV format</a></li>
					<li role="menuitem" ng-click="downloadReplacements('TAB')"><a>Tab-delimited format</a></li>
		      	</ul>
			</div>
		</paging-buttons>
		<h5>Notes</h5>
		<small>
			<ol>
				<li>Changes within the virus genome are defined in CoV-GLUE relative to Wuhan-Hu-1. 
				Other systems use an alternative strain WIV04 as the reference sequence. 
				Although WIV04 is 12 nucleotides shorter than Wuhan-Hu-1 at the 3' end, these two sequences are 
				identical in practical terms, in particular the 5' UTR is the same length and the coding regions 
				are identical. Coordinates and relative changes are therefore the same whichever sequence is used.</li>
				<li>A quantitative measure of amino acid residue replacements, based on composition, 
				polarity and molecular volume, with 100 being average, see 
				<a href="https://doi.org/10.1126%2Fscience.185.4154.862" target="_blank">Grantham, 1974</a></li>
				<li>A quantitative measure of amino acid residue replacements, based on 
				volume and polarity, see 
				<a href="https://doi.org/10.1007/bf01732340" target="_blank">Miyata et al., 1979</a></li>
			</ol>
		</small>
	</div>
</div>