<h3>Sequence data contributors</h3>

CoV-GLUE would not have been possible without viral genome sequence and 
metadata contributions from the following institutes, via <a href="https://gisaid.org" target="_blank"><img src="images/gisaid.png" alt="GISAID logo" width="70"></a>.

<div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Country</th>		
					<th>Virus name</th>		
					<th>GISAID ID</th>		
					<th>Originating lab</th>		
					<th>Submitting lab</th>	
					<th>Authors</th>		
				</tr>
			</thead>
			<colgroup>
		       <col span="1" style="width: 5%;">
		       <col span="1" style="width: 15%;">
		       <col span="1" style="width: 5%;">
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 25%;">
		       <col span="1" style="width: 25%;">
			</colgroup>
			<tbody>
				<tr ng-repeat="s in sequences track by $index">
					<td>{{handleNull(s["m49_country.display_name"])}}</td>
					<td>{{handleNull(s["sequenceID"])}}</td>
					<td>{{handleNull(s["isolate"])}}</td>
					<td>{{handleNull(s["originating_lab"])}}</td>
					<td>{{handleNull(s["submitting_lab"])}}</td>
					<td>{{handleNull(s["authors"])}}</td>
				</tr>
			</tbody>
		</table>
</div>