<h3>Data acknowledgement</h3>
<p>CoV-GLUE is enabled by hCoV-19 genome sequence data from the GISAID EpiCoV™ database. 
The GISAID organisation <a href="https://www.gisaid.org/about-us/mission/" target="_blank">promotes the rapid sharing of data whilst protecting the acknowledgement rights of data providers.</a></p>

<p>If you intend to publish research on or otherwise use sequence data from GISAID, or the derived data available from CoV-GLUE, you must accept the 
GISAID <a href="https://www.gisaid.org/registration/terms-of-use/">Data Access Agreement</a>
and appropriately credit (e.g. by attaching as supplementary data) the data contributors. In academic publications you should also cite the GISAID project itself.
Details of how to give appropriate credit are available on the <a href="https://www.gisaid.org/help/publish-with-data-from-gisaid/" target="_blank">GISAID website.</a></p>

<h3>How to cite CoV-GLUE</h3>
<p>
A short manuscript describing CoV-GLUE is in preparation and will be posted on bioRxiv.org within the next few days.
</p>

<h3>Lineage assignments</h3>
<p>
If you find the lineage assignment aspect of CoV-GLUE useful in your research, please also cite 
<a href="https://doi.org/10.1101/2020.04.17.046086" target="_blank">Rambaut et al., 2020</a>.
</p>
