<h3>The CoV-GLUE team</h3>

<div class="row" style="padding-top:25px">
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/?webapp=staffcontact&action=person&id=4edeeee6849e">Afrida Mukaddas</a></h3>
		<h4>Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Afrida_Mukaddas_Mannan_Cadiyan">
				<img style="width: 60px; padding-right: 10px" align="left"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a>
		</p>
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/OrgesKoci.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/?webapp=staffcontact&action=person&id=4edce9e08a94">Dr Orges Koci</a></h3>
		<h4>Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Orges_Koci2">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a>
		</p>
	</div>
</div>



<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/JoshSinger.jpg"/></div>
	<div class="col-md-10"	>
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/joshsinger/">Dr Josh Singer (former team member)</a></h3>
		<h4>Former Research Software Engineer at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Josh_Singer3">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=joshWentViral">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Josh Singer on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
	</div>
</div>


<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/DavidRobertson.jpg"/></div>
	<div class="col-md-10">
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/davidrobertson/">Professor David Robertson</a></h3>
		<h4>Head of Bioinformatics at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/David_Robertson9">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="David Robertson on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=robertson_lab">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="David Robertson on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
		
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/RobGifford.jpg"/></div>
	<div class="col-md-10">
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/robertgifford/">Dr Rob Gifford</a></h3>
		<h4>Research Bioinformatician / Evolutionary Biologist at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			<a target="_blank"
				href="https://www.researchgate.net/profile/Robert_Gifford">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Rob Gifford on ResearchGate"
				src="../gluetools-web/www/images/RG_square_green.jpg">
			</a> <a href="https://twitter.com/intent/follow?screen_name=paleovirologist">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Rob Gifford on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
		
	</div>
</div>

<div class="row" style="padding-top:25px">
	<div class="col-md-2"><img style="border:2px solid #aaaaaa" src="images/MatthewCotten.jpg"/></div>
	<div class="col-md-10">
		<h3 style="margin-top:0px"><a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/matthewcotten/">Professor Matthew Cotten</a></h3>
		<h4>Professor in Viral Genomics at the Centre for Virus Research</h4>
		<p style="padding-top:20px;">
			</a> <a href="https://twitter.com/intent/follow?screen_name=mlcotten13">
				<img style="width: 60px; padding-right: 10px" align="left"
				alt="Matthew Cotten on Twitter"
				src="../gluetools-web/www/images/Twitter_Logo_White_On_Blue.png">
			</a>
		</p>
		
	</div>
</div>
